* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #222222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  display: flex;
  min-width: 1200px;
}

.ajuste-flex-content {
  display: flex;
  margin: 0 auto;
}