.boxComponent {
    display: flex;
    flex-direction: column;
}

.containerflex {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.teste {
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteSquare {
    background-color: #fff;
}

.blackSquare {
    background-color: #000;
    color: #fff; /* Para garantir que o texto seja visível no fundo preto */
}

.texto {
    color: rgb(228, 134, 40);
}
